body{
    background-color: black;
    margin:0;
    padding:0;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#all{
    margin: 0 auto;
    margin-top:100px;
}
h1{
    text-align: center;
    
}
#canvas{
    background-color: white;
}
#content{
    width:800px;
    height:600px;
    margin: 0 auto;
    margin-top: 0px;
    background-color:black; 
    border-color:  black;
     border-style: solid;
    border-width: 1px;

}
#jugar {
    padding: 10px 20px;
    background-color: #00c69f; /* Código de un color Turquesa */
    color: white!important;
    
}

#jugar:disabled {
    background: red;
  }
.po{
    visibility: hidden;
}
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible; /* Este valor se cambió de hidden a visible */
    opacity: 1; /* Este valor se cambió de 0 a 1 */
}
#overlay:target {
    visibility: hidden;
    opacity: 0;
}