
/*fondo parallax*/
* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 @keyframes back{
     /*luffy, nubes,cielo*/
     0% {background-position:0, 0% top}
     25%{ background-position:0, 25% top}
     50%{background-position:0,50% top}
     75%{background-position:0,75% top,}
    100% {background-position:0,100% top}
 }
@-webkit-keyframes back{
     /*luffy, nubes,cielo*/
     0% {background-position:0, 0% top}
     25%{ background-position:0, 25% top}
     50%{background-position:0,50% top}
     75%{background-position:0,75% top,}
    100% {background-position:0,100% top}
}
 body{
     background-color:rgb(40, 63, 92);
     margin: 0;
      width: 100%;
     height:100%;
      /*luffy, nubes,cielo*/
     background-image: url("images/image_fondosinfondo.png"),url("images/nubesrojas.png");
     background-repeat: no-repeat,repeat-x ;
     background-attachment: fixed;
     background-size:cover,400px 300px;
     animation: back 20s linear infinite; 

 }
 /*logo one piece animar ingreso*/


 @-webkit-keyframes slide {
    100% { margin-left: 30%; }
}

@keyframes slide {
    100% { margin-left: 30%; }
}
@-webkit-keyframes slide1 {
    100% { margin-left: 50%; }
}

@keyframes slide1{
    100% { margin-left: 55%; }
}
 .logo{
     margin-top: 10%;
     margin-left: -100%;
     padding: 0;
     animation: slide 10s forwards;
 }
 .logo img{
     width: 50%;
     height: 100px;
 }
/*countdown inciso 4*/
 .countdown{
    margin-top: 5%;
    position: relative;
     margin-left: -100%;
     transform: translate(-50%,-50%);
     animation: slide1 2s forwards;
 }
 .countdown span{
     font-family: grenze;
     font-weight: bold;
     color: rgb(248,224,4);
     border: 2px solid #fff;
     border-radius: 25px;
     box-shadow: 2px 1px 12px #fff;
     margin: 0 10px;
     padding: 0 30px;

 }
 .box{
     display: inline-block;
     overflow: hidden;
     height: 1em;
     line-height: 1em;
     font-weight: bold;
     font-size: 4em;
 }

 /*Slider inciso 6*/
 .slider{
     width: 80%;
     margin-top: 0%;
     margin-left: 10%;
     padding: 0;
     overflow: hidden;
 }
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
}
.slider li{
    width:100%;
    list-style: none;
}

.slider li img{
   width:100%;
   height:400px;
}

@keyframes cambio{
   0%{margin-left: 0;}
   20%{margin-left: 0;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;}
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left: -300%;}
}
 /*Resenia de pelicula*/
 .resenia{
     margin-left: 10%;
     width: 80%;
     height:50%;
    background-color: blueviolet;
    margin-bottom: 10%;
 }
 h1{
     font-size: 40px;
     text-align: center;
     color: yellow;
     margin-bottom: 40px;
 }
hr{
    background-color: red;
    width:100%;
    height: 5px;
    border: none;
    border-radius: 50%;
}
p{
    font-size: 20px;
}
.resenia img{
    margin-left: 22%;
    width: 40%;
    height: 273px;
    margin-bottom: 10%;
}

.resenia ul{
    display: flex;
}
.resenia div img{
    margin-left: 0%;
    width: 100%;
}
.resenia ul li{
    width: 33%;
     list-style: none;
}


/*Todo para hacer el menu*/   
  .respmenu a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;  
  }
   
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
   
  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu {
    color: white;
    position: relative; 
    background: #123456;
    min-height: 48px;
  }
   
  .respmenu nav {
    display: none;
  }
   
  .respmenu input:checked ~ nav {
    display: block;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

  /*Formulario de comentarios*/
  .formulario{
       background-color: rgb(65, 182, 127); 
      width:50%;
      max-width: 100%;
      margin-left: 25%; 
      padding:20px;
      box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);  
      position: relative;
      z-index: 4;
  }
  .formulario__titulo{
      text-align: center;
      margin-top:0;
      color: rgba(0,0,0, 0.7);
     
  }
  .formulario__submit{
      background-color: rgba(0,0,0, 0.7);
      transition: all 0.8s;
  }
  .formulario__submit:hover{
    background-color: rgba(250,0,0, 0.7);
}
  .formulario__input, .formulario__label, .formulario__submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__label{
      padding-left: 15px;
      position: absolute;
      margin-top: -69px;
      z-index: -1;
      transition: all 0.2s;

  }
  .formulario__input{
      padding-left: 20px;
      background: transparent;
      border:1px solid rgba(0,0,0,0.3);
      margin-bottom: 40px;
      z-index:2;
      
    }
    .formulario__input:focus{
        outline: 1px solid rgba(0,0,0, 0.7));

    }
    .formulario__input:focus + .formulario__label{
        margin-top:-95px;
    }
    .fijar{
        margin-top:-95px;
    }

    