
/*fondo parallax*/
* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps; 
    
 }
 @keyframes back{
       /*sabo,boa, luffy,nubes*/
     0% {background-position:30% 10%,20% 5%,0% 10%, 0% top}
     25%{ background-position:55% 10%,45% 5%,25% 10%, 25% top}
     50%{background-position:75% 10%,65% 5%,45% 10%,50% top}
     75%{background-position:85% 10%,75% 5%,60% 10%,75% top,}
    100% {background-position:100% 10%,90% 5%,80% 10%,100% top}
 }
@-webkit-keyframes back{
      /*sabo,boa, luffy,nubes*/
     0% {background-position:30% 10%,20% 5%,0% 10%, 0% top}
     25%{ background-position:55% 10%,45% 5%,25% 10%, 25% top}
     50%{background-position:75% 10%,65% 5%,45% 10%,50% top}
     75%{background-position:85% 10%,75% 5%,60% 10%,75% top,}
    100% {background-position:100% 10%,90% 5%,80% 10%,100% top}
}
 body{
     background-color:rgb(40, 63, 92);
     margin: 0;
      width: 100%;
     height:100%;
     /*sabo,boa, luffy,nubes*/
     background-image: url("images/sabo.png"),url("images/boa.png"),url("images/luffy.png"),url("images/nubesrojas.png"); 
     background-repeat: no-repeat,no-repeat,no-repeat,repeat-x ;
     background-attachment: fixed;
     background-size:200px 300px,200px 300px,200px 300px,400px 300px;
     animation: back 20s linear infinite;
     overflow: hidden; 

 }
 .titulo{
     background: blueviolet;
     font-size: 40px;
 }
 /*logo one piece animar ingreso*/


 @-webkit-keyframes slide {
    100% { margin-left: 30%; }
}

@keyframes slide {
    100% { margin-left: 30%; }
}
@-webkit-keyframes slide1 {
    100% { margin-left: 50%; }
}

@keyframes slide1{
    100% { margin-left: 55%; }
}
 .logo{
     margin-top: 10%;
     margin-left: -100%;
     padding: 0;
     animation: slide 10s forwards;
 }
 .logo img{
     width: 50%;
     height: 100px;
 }
/*countdown inciso 4*/
.count_hidden{
    display: none;
}
 .back_count{
     width: 80%;
    margin-left: 10%;
     background-color: blueviolet;
 }
 .countdown{
    position: relative;
     margin-left: 25%;
 }
 .countdown span{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
     font-weight: bold;
     color: rgb(248,224,4);
     border: 2px solid #fff;
     border-radius: 25px;
     box-shadow: 2px 1px 12px #fff;
     margin: 0 10px;
     padding: 0 30px;

 }
 .box{
     display: inline-block;
     overflow: hidden;
     height: 1em;
     line-height: 1em;
     font-weight: bold;
     font-size: 4em;
 }

 /*Slider inciso 6*/
  .avances{
     margin-bottom: 0%;
 }
 .slider{
     width: 80%;
     margin-top: 0%;
     margin-left: 10%;
     padding: 0;
     overflow: hidden;
 }
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
}
.slider li{
    width:100%;
    list-style: none;
}

.slider li img{
   width:100%;
   height:100%;
}
.resenia .botones  img{
    width:60px !important;
    height:40px !important;
}
img.arrow_der {
    position: relative;
    top: 500px;
    left: 89%;
}
img.arrow_izq{
    position: relative;
    top: 500px;
    right: 0px;
}


@keyframes cambio{
   0%{margin-left: 0;}
   20%{margin-left: 0;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;}
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left: -300%;}
}
 /*Resenia de pelicula*/
 .resenia{
     margin-left: 10%;
     width: 80%;
     height:50%;
    background-color: blueviolet;
    margin-bottom: 0.5%;
 }
 h1{
     font-size: 40px;
     text-align: center;
     margin-bottom: 40px;
 }
hr{
    background-color: red;
    width:100%;
    height: 5px;
    border: none;
    border-radius: 50%;
}
p{
    font-size: 20px;
}
.resenia img{
    margin-left: 22%;
    width: 40%;
    height: 273px;
    margin-bottom: 10%;
}

.resenia ul{
    display: flex;
}
.resenia div img{
    margin-left: 0%;
    width: 100%;
}
.resenia ul li{
    width: 33%;
     list-style: none;
}


/*Todo para hacer el menu*/   
  .respmenu a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background:blueviolet;
     font-variant: small-caps; 
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;  
  }
   
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
   
  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu {
    color: white;
    position: relative; 
    background:blueviolet;
    min-height: 48px;
  }
   
  .respmenu nav {
    display: none;
  }
   
  .respmenu input:checked ~ nav {
    display: block;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

  /*Formulario de comentarios*/
  .formulario{
       background-color: blueviolet; 
      width:50%;
      max-width: 100%;
      margin-left: 25%; 
      padding:20px;
      box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);  
      position: relative;
      z-index: 4;
  }
  .formulario__titulo{
      text-align: center;
      margin-top:0;
      color: rgba(255,255,255, 0.7);
     
  }
  .formulario__submit{
    color: rgba(255,255,255, 0.7);
      background-color: rgba(0,0,0, 0.7);
      transition: all 0.8s;
  }
  .formulario__submit:hover{
    background-color: rgba(250,0,0, 0.7);
}
  .formulario__input, .formulario__label, .formulario__submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__label{
    color: rgba(255,255,255, 0.7);
      padding-left: 15px;
      position: absolute;
      margin-top: -69px;
      z-index: -1;
      transition: all 0.2s;

  }
  .formulario__input{
    color: rgba(255,255,255, 0.7);
      padding-left: 20px;
      background: transparent;
      border:1px solid rgba(0,0,0,0.3);
      margin-bottom: 40px;
      z-index:2;
      
    }
    .formulario__input:focus{
        outline: 1px solid rgba(0,0,0, 0.7);

    }
    .formulario__input:focus + .formulario__label{
        margin-top:-95px;
    }
    .fijar{
        margin-top:-95px;
    }

   /*Loader en todas las paginas*/
   .loading {
    position: absolute;
    top: 0;
    background: #222;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    display: flex;
 }
 @keyframes gear2{
    0%{background-size: 96%,100%;transform: translateX(-10px 10px ,0);}
    50%{background-size: 98%,100%;transform: translateX(-5px 5px,0);}
    100%{background-size: 96%,100%;transform: translateX(-10px -10px,0);}
    }
    .preloader {
       margin: auto;
       width: 300px;
       height: 300px;
       background: url("images/gear.png") no-repeat,url("images/luffygear.png") no-repeat;
       background-size:cover,cover;
       position: relative;
       animation: gear2 0.5s linear infinite;
    }
 
 .cerrar {
    transform: translateY(100%);
    transition: all 2s ease-out;
    animation: preloader 2s ;
 }
 
 @keyframes preloader {
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
 }
 .hidden{
    display: none;
    opacity: 0;
 }
 /*Acordeon con la magia de html y css*/
 .acordeon{
    width: 70%;
    margin: auto;
 }
 .acordeon-img{
    margin: auto;
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .flip{
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    width: 500px;
    height: 300px;
    }
    .flip:hover{
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
    }
    .flip .flip-1,
    .flip .flip-2{
    position: absolute;
    backface-visibility: hidden;
    }
    .flip .flip-2{
    transform: rotateY(-180deg);
    }  
 .acordeon input{
     display: none;
 }
 .acordeon__titulo{
     display: block;
     padding:15px;
     background: blueviolet;
     color: #fff;
     font-size: 20px;
     cursor: pointer;
     border-bottom: 1px solid #fff;
 }
 .acordeon__titulo:hover{
     background: rgba(138,43,226, 0.7);
 }
.acordeon__item{
    background: #fff;
}
 .acordeon__contenido{
     
     height: 0;
     overflow: hidden;
     margin: 0;
     transition: all 0.5s;
 }

 .acordeon input:checked ~ .acordeon__contenido{
     height: auto;
     padding: 10px;
 }
 /*Mover componentes visuales a partir que se scrollea*/
 .animado{
    background: url("images/sunny.png") no-repeat;
    width: 150px;
    height: 200px;
    bottom: 0;
    position: fixed;
    z-index:99;
}


.img {
    padding-top: 60px;
}


element.style {
}
.resenia div img {
    margin-left: 0%;
    width: 100%;
}
img.movie-img {
    display: block;
    margin-left: auto !important;
    margin-right: auto;
    width: 40% !important;
}

.coutdown-list{
    display: inline-flex;
    list-style-type: none;
}

.coutdown-list p {
    margin-left: 30px;
}

.z-index-img{
    
}